/* -------------------------------------------------------------- 

   typography.css
   * Sets up some sensible default typography.
   
-------------------------------------------------------------- */

/* Default font settings. 
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html { font-size:100.01%; }
body { 
  font-size: 75%;
  color: #222; 
  background: #fff;
  font-family: "Helvetica Neue",  Helvetica, sans-serif;
}


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }

h1 { font-size: 30px; line-height: 1; margin-bottom: 4px; }
h2 { font-size: 24px; margin-bottom: 4px; }
h3 { font-size: 18px; line-height: 1; margin-bottom: 4px; }
h4 { font-size: 15px; line-height: 1.25; margin-bottom: 4px; }
h5 { font-size: 12px; font-weight: bold; margin-bottom:4px; }
h6 { font-size: 10px; font-weight: bold; }

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1.5em; }
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus, 
a:hover     { color: #000; }
a           { color: #009; text-decoration: underline; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre 				{ margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */

li ul, 
li ol       { margin:0 1.5em; }
ul, ol      { margin: 0 1.5em 1.5em 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th 		{ background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td  { background: #e5ecf9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }


/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }

/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
-------------------------------------------------------------- */


body { 
  line-height: 1.5; 
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

/* -------------------------------------------------------------- 
   
   ie.css
   
   Contains every hack for Internet Explorer,
   so that our core files stay sweet and nimble.
   
-------------------------------------------------------------- */

/* Make sure the layout is centered in IE5 */
.container { text-align: left; }

/* Fixes IE margin bugs */
* html .column, * html div.span-1, * html div.span-2, 
* html div.span-3, * html div.span-4, * html div.span-5, 
* html div.span-6, * html div.span-7, * html div.span-8, 
* html div.span-9, * html div.span-10, * html div.span-11, 
* html div.span-12, * html div.span-13, * html div.span-14, 
* html div.span-15, * html div.span-16, * html div.span-17, 
* html div.span-18, * html div.span-19, * html div.span-20, 
* html div.span-21, * html div.span-22, * html div.span-23, 
* html div.span-24 { display:inline; overflow-x: hidden; }


/* Elements
-------------------------------------------------------------- */

/* Fixes incorrect styling of legend in IE6. */
* html legend { margin:0px -8px 16px 0; padding:0; }

/* Fixes incorrect placement of ol numbers in IE6/7. */
ol { margin-left:2em; }

/* Fixes wrong line-height on sup/sub in IE. */
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }

/* Fixes IE7 missing wrapping of code elements. */
html>body p code { *white-space: normal; } 

/* IE 6&7 has problems with setting proper <hr> margins. */
hr  { margin:-8px auto 11px; }

/* Explicitly set interpolation, allowing dynamically resized images to not look horrible */
img { -ms-interpolation-mode:bicubic; }

/* Clearing 
-------------------------------------------------------------- */

/* Makes clearfix actually work in IE */ 
.clearfix { display:inline-block; }
* html .clearfix,
* html .container { height:1%; }


/* Forms 
-------------------------------------------------------------- */

/* Fixes padding on fieldset */
fieldset { padding-top:0; }

/* Makes classic textareas in IE 6 resemble other browsers */
textarea { overflow:auto; }

/* Fixes rule that IE 6 ignores */
input.text, input.title, textarea { background-color:#fff; border:1px solid #bbb; }
input.text:focus, input.title:focus { border-color:#666; }
input.text, input.title, textarea, select { margin:0.5em 0; }
input.checkbox, input.radio { position:relative; top:.25em; }

/* Fixes alignment of inline form elements */ 
form.inline div, form.inline p { vertical-align:middle; }
form.inline label { position:relative;top:-0.25em; }
form.inline input.checkbox, form.inline input.radio,
form.inline input.button, form.inline button { 
  margin:0.5em 0; 
}
button, input.button { position:relative;top:0.25em; }

* {
  margin:0;
  padding:0;
  font-family:helvetica;
  font-size:100%;
}

/* Classes
-------------------------------------------------------------- */
.clear {
  clear:both;
}

.container {
  width:900px;
  margin:0 auto;
  position:relative;
}

.logo a {
  text-decoration:none;
}

.admin a {
  color:#299BC0;
}

.logo {
  width:200px;
  height:95px;
  margin-top:10px;
}

.poll .vote-form {
  text-align:right;
}

.slogan {
  width:400px;
  float:left;
  color:#88898d;
  font-size:10px;
}

.tabs li, .tabs2 li {
  display:inline;
  font-size:10px;
}

p.legal {
  float:right;
}

.node {
color:#3a3a3a;
}

.block {
padding:13px;
}

#leftside .block {
padding:4px;
}
/* Elements
-------------------------------------------------------------- */
#header {
  display:block
  width:100%;
  height:120px;
}

span#site-name {
  color:#0083B2;
  font-size:35px;
}

table {
  width:85%;
}

#showcase {
  display:block;
  width:100%;
  height:335px;
  clear:both;
}

#content-wrapper {
 margin-top:2px;
 border-bottom:1px dotted #bebebe;
 padding-bottom:10px;
  height:auto;
  position:relative;
  width:100%;
  font-size:12px;
  display:block;
  margin-bottom:10px;
}

#leftside {
  width:599px;
  float:left;
}


#left {
  width:267px;
  background:#F3F3F5 none repeat scroll 0 0;
  float:left;
  min-height:188px;
  padding:15px;
}

#right {
  width:269px;
  margin-bottom:3px;
  background:#F3F3F5 none repeat scroll 0 0;
  float:right;
  min-height:188px;
  padding:15px;
}

#rightside {
  float:right;
  min-height:150px;
  clear:right;
  width:298px;
}

#rightside .block {
background:#299BC0;
color:#fff;
margin-bottom:2px;
}

#rightside a {
  color:#fff;
  font-size:12px;
}

#content {
  background:#F3F3F5 none repeat scroll 0 0;
  display:block;
  height:auto;
  padding:9px;
  width:97%;
}

#footer {
  clear:both;
  margin-bottom:10px;
  width:100%;
  height:20px;
}

#footer ul {
  width:50%;
  float:left;
}

#footer ul li {
  display:inline;
}

#footer a {
  font-size:10px;
  color:##9A9B9D;
  text-decoration:none;
}

#rightside h2 {
  color:#FFFFFF;
}

#block-user-0 {
  background:#2793BA;
  height:25px;
}

#login {
  height:50px;
  position:absolute;
  right:1px;
  top:-10px;
  width:500px;
}

#block-user-0 ul {
  display:none;
}

/* Navigation
-------------------------------------------------------------- */
#nav {
  position:relative;
  background:#2793BA none repeat scroll 0 0;
  height:50px;
  min-width:100%;
  max-width:1244px;
  margin-bottom:2px;
}

.nav {
color:#FFFFFF;
display:block;
float:left;
font-size:15px;
font-weight:bold;
line-height:40px;
margin-top:29px;
padding-left:0;
position:absolute;
width:100%;
z-index:11;

}

.nav a {
  color:#FFFFFF;
  display:block;
  float:left;
  font-family:helvetica;
  margin-left:5px;
  margin-right:30px;
  text-decoration:none;
}

.nav > li{
  list-style-type:none;
}

div.nav ul.menu {
  float:left;
  z-index:10;
  padding:0;
  margin:0;
  width:100%;
  }

div.nav ul.menu li {
list-style:none;
float:left;
width:130px;
padding:0;
margin:0;
}


div.nav ul.menu li.expanded:hover ul {
  display:block;
}

.nav li:hover {
}

div.nav ul.menu ul {
background:#2793BA none repeat scroll 0 0;
opacity:0.7;
padding:0;
display:none;
margin:0;
}


.nav a:hover {
  color:#fff;
}

.form-required {
  display:none;
}

.nav a.active {
  color:#fff;
}

.secondary-nav {
  float:right;
  font-size:12px;
  font-family:helvetica;
}

.secondary-nav a , .secondary-nav a.active{
  text-decoration:none;
  color:#0083B2;
}

#nav ul {
  float:left;
  padding-left:10px;
  width:680px;
}

#nav ul li {
  display:inline;
  margin-left:16px;
  margin-right:20px;
}

.secondary-nav ul li {
  display:inline;
}

/* Search
-------------------------------------------------------------- */
.search label {
  display:none;
}

.search input[type=text] {
  border:medium none;
  height:20px;
  width:155px;
}

.search input[type=submit] {
  border:medium none;
  cursor:pointer;
}

.search {
  background:#0081B2 none repeat scroll 0 0;
  display:block;
  height:40px;
  padding-left:30px;
  padding-top:0;
  position:absolute;
  right:0;
  top:0px;
  width:226px;
}

/* Forms
-------------------------------------------------------------- */

form#webform-client-form-2 input[type=text] {
  background:#E4E5E7 none repeat scroll 0 0;
  border:medium none;
  color:#000;
  padding:5px;
  width:250px;
}

form#webform-client-form-2 input[type=submit] {
  border:medium none;
  float:right;
}

#block-block-1 .form-checkboxes .form-item, .form-radios .form-item {
  float:left;
  margin-right:40px;
  margin-top:0.4em;
}

form#user-login-form .form-item {
  float:left;
  margin-bottom:1em;
  margin-top:1em;
  margin-right:10px;
}

form#user-login-form .form-item label {
  display:block;
  float:left;
  margin-right:20px;
  font-weight:bold;
}
#user-login-form {
  color:#FFFFFF;
  margin-top:-9px;
  text-align:left;
}

form#user-login-form input#edit-submit-1 {
  border:medium none;
  cursor:pointer;
  margin-top:11px;
  padding:1px;
}

form#user-login-form input[type=text] ,form#user-login-form input[type=password] {
  border:medium none;
  padding:2px;
}
